<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileUploadServiceBinding"
                 transferMode="Streamed"
                 messageEncoding="Mtom" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxBufferPoolSize="209715200" maxBufferSize="209715200"
          maxReceivedMessageSize="209715200">
          <readerQuotas maxStringContentLength="209715200" maxArrayLength="209715200"
            maxBytesPerRead="209715200" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>-->
    <client>
      <endpoint address="http://localhost:2811/LargeFileOperations/FileService/"
          binding="basicHttpBinding" bindingConfiguration="FileUploadServiceBinding"
          contract="FileService.IFileService"/>
    </client>
  </system.serviceModel>
</configuration>